* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #F5F7FB;
  padding: 0;
  height: 100vh;
}

.app--background {
  display: flex;
  flex-direction: column;
  z-index: -1;
  overflow-y: hidden;
}

.blobs-top {
  align-self: self-end;
  width: 200px;
}

.blobs-bottom {
  width: 200px;
  justify-self: self-end;
}

.intro-main, .question--main, .answer--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
  z-index: 1;
}

.intro--title {
  margin-bottom: 0px;
}

.intro--description {
  margin-bottom: 36px;
  text-align: center;
}

.intro--btn, .check-ans--btn {
  width: 200px;
  height: 52px;
  background-color: #4D5B9E;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.intro--btn {
  margin-bottom: 26%;
}

.intro--btn:focus {
  outline: none;
}

.intro--btn:active {
  vertical-align: center;
  padding-top: 8px;
  box-shadow: inset 2px 2px 3px #d2d6df;
}

.question--main {
  max-width: 600px;
  margin: -20% 40px;
  color: #293264;
}

.question-answer {
  align-self: flex-start;
  margin-top: -20px;
}

.question-choices {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.choice--btn {
  min-width: 6rem;
  height: auto;
  padding: 4px;
  margin-bottom: 5px;
  margin-right: 1rem;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  color:#293264;
  font-size: .8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choice--btn:active {
  border: none;
  background-color: #D6DBF5;
}

.check-ans--btn {
  margin-bottom: 10px;
  position: relative;
  top: 0px;
}

hr {
  border: 1px solid #DBDEF0;
  /* min-width: inherit; */
}