* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #F5F7FB;
  padding: 0;
}

.app--background {
  display: flex;
  flex-direction: column;
  z-index: -1;
  flex: 1;
}

.blobs-top {
  max-width: 200px;
  align-self: self-end;
}

.blobs-bottom {
  max-width: 200px;
  justify-self: self-end;
}

.intro-bblob {
  position: absolute;
  bottom: 0;
}

.question-tblob {
  width: 100px;
}

.question-bblob {
  width: 100px;;
  position: relative;
  top: 0;
}

.intro-main,
.question--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
  z-index: 1;
}

.intro--title {
  margin-bottom: 0px;
}

.intro--description {
  margin-bottom: 36px;
  text-align: center;
}

.intro--btn,
.check-ans--btn,
.play-again--btn {
  width: 40vw;
  height: 48px;
  background-color: #4D5B9E;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.check-ans--btn {
  margin-top: 20px;
}

.intro--btn:focus {
  outline: none;
}

.intro--btn:active {
  vertical-align: center;
  padding-top: 8px;
  box-shadow: inset 2px 2px 3px #d2d6df;
}

.question--main {
  margin: -10% 40px;
  color: #293264;
}

/* .question-answer {
  align-self: flex-start;
  margin-top: -20px;
  margin-left: 40px;
  max-width: 80vw;
} */

.answer-choices {
  list-style-type: none;
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.choice--btn {
  min-width: 6rem;
  padding: 4px;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  color: #293264;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choice--btn:active {
  border: none;
  background-color: #D6DBF5;
}

.check-ans--btn {
  margin-bottom: 10px;
  position: relative;
  top: 0px;
}

hr {
  border: 1px solid #DBDEF0;
  width: 100%;
  /* margin-bottom: 10px; */
}

.show-scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
}