* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #F5F7FB;
  padding: 0;
  max-height: 100vh;
}

.app--background {
  display: flex;
  flex-direction: column;
  z-index: -1;
  flex: 1;
}

.blobs-top {
  max-width: 200px;
  align-self: self-end;
}

.blobs-bottom {
  max-width: 200px;
  justify-self: self-end;
}

.intro-bblob {
  position: absolute;
  bottom: 0;
}

.question-tblob {
  width: 100px;
}

.question-bblob {
  width: 100px;
  position: absolute;
  bottom: 0;
}

.intro-main,
.question--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293264;
  /* z-index: 1; */
}

.intro--title {
  margin-bottom: 0px;
}

.intro--description {
  margin-bottom: 36px;
  text-align: center;
}

.intro--btn,
.check-ans--btn,
.play-again--btn {
  width: 40vw;
  height: 8vh;
  background-color: #4D5B9E;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.intro--btn:focus {
  outline: none;
}

.intro--btn:active {
  vertical-align: center;
  padding-top: 8px;
  box-shadow: inset 2px 2px 3px #d2d6df;
}

.question--main {
  max-width: 600px;
  max-height: 80vh;
  margin: -10vh auto;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #293264;
}

.question-answer {
  align-self: flex-start;
  /* margin-left: 40px; */
  max-width: 80vw;
}

.btn--container {
  position: fixed;
  bottom: 2vh;
  display: flex;
  z-index: 1;
}

.question-answer h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.answer-choices {
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.choice--btn {
  min-width: 6rem;
  padding: 4px;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  color: #293264;
  /* font-size: 1rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choice--btn:active {
  border: none;
  background-color: #D6DBF5;
}

.check-ans--btn {
  margin: 0 30vw;
}

hr {
  border: 1px solid #DBDEF0;
  min-width: 100%;
}

.show-scores {
  display: flex;
  flex-wrap: nowrap;
  color: #293264;
  align-items: center;
  gap: 2vh;
  margin: 0 10vw;
}



